* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #fff;
}

.container-fluid {
    padding: 1rem 2rem;
}


/* Listings */

.cafe-listings {
    padding: 2rem 0 0;
    width: 100%;
}

.cafe-listings .list-cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    place-items: center;
}
.cafe-listings .list-cards .card-title {
    font-weight: bold;
}
.cafe-listings .list-cards .fa {
    color: gold;
}


#bottom {
    padding:  4.5rem 0 0.5rem;
    position: relative;
}

#bottom .socials {
    text-align: center;
    margin-top: 3rem;
    color: #000;
}
#bottom .socials .fa {
    padding: 0 0.3rem;
}
#bottom .socials p {
    font-size: 0.8rem;
    padding: 0.2rem 0 0;
}